
		
<div class="aplosSmallBorder {APLOSSMALLBORDERRIGHT}" style="display:inline-block;{STYLE};background-image:url('{IMG_RIGHT}');background-repeat:no-repeat;background-position:100% 100%;">
<div class="{APLOSSMALLBORDERLEFT}" style="background-image:url('{IMG_LEFT}');background-repeat:no-repeat;background-position:0% 100%;padding-left:{END_WIDTH}px;padding-right:{END_WIDTH}px;">
<div class="{APLOSSMALLBORDERMIDDLE}" style="background-image:url('{IMG_MIDDLE}');background-position:0px 1px;background-repeat: repeat-x;line-height:{LINE_HEIGHT}px;">
		