
		<!-- End Tab Panel -->
	</div>
	</div>
	</div>

	<!-- Inner -->			
	<div id="bgRightDiv">
		
	<!-- Outer -->
	<div style="width:{WIDTH};background-image:url('{BG_LEFT}');background-repeat:repeat-y;">
	
		<!-- Background & Content -->
		<div style="min-height:{HEIGHT_MINUS_IMAGES}px;width:{WIDTH_MINUS_IMAGES}px;margin-left:27px;margin-right:27px;background-image:url('{BG_MIDDLE}');{CONTENT_MIN_HEIGHT};background-repeat:repeat;" >
				
			<!-- This div stops elements with top margins distorting the box constructs -->
			<div style='height:1px;'></div>
