
body {
	background-color: #F3F3F3;
}

.aplosMainMenu div {
	margin-top: 2px;
	margin-left: 10px;
}

#topLoginBarRightDiv {
	background-image:url('../images/modern/topLoginBarRight.png');
	background-repeat:no-repeat;
	background-position:100% 0%;
	padding-right:17px;
	margin-right: 40px;
	/* line-height:30px; */
}

#aploraSubNavigationBar a {
	font-family: Tahoma;
}

#aplos-modern-page-padding-cell {
	padding: 10px 20px 20px 20px;
}

.ui-accordion .ui-accordion-header {
  height: 30px;
  padding-left: 30px;
  line-height: 30px;
}